<div class="container">
    <div class="row">
        <div class="col mt-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>S.No.</th>
                            <th>Order-Date</th>
                            <th>Order-Id</th>
                            <th>Paid Amount</th>
                            <th>Order-Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-secondary text-center" *ngFor=" let o of orders">
                            <td></td>
                            <td>{{o.date}}</td>
                            <td>{{o.oid}}</td>
                            <td>{{o.paidAmount | currency: 'INR'}}</td>
                            <td>
                                <button class="btn btn-success" (click)="getOrderDetails(o.oid)">View Order
                                    Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>